{% extends "layouts/site.twig" %}

{% block content %}
	<div style="margin-top: 70px" class="container">

		<div class="row">
			<div class="col-md-8">
				<h2>Lista de Carteiras</h2>
			</div>
			<div class="col-md-4">
				<a href="/carteiras/criar" class="btn btn-primary btn-block">Novo</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<th>ID</th>
						<th>Nome</th>
						<th>Total na carteira</th>
						<th>Editar</th>
					</thead>
					<tbody>
						{% for carteira in carteiras %}
							<tr>
								<td class="text-left" colspan="1">{{ carteira.id}}</td>
								<td class="text-left" colspan="1">{{ carteira.name}}</td>
								<td class="text-left" colspan="1">{{ carteira.value }}</td>
								<td class="text-left" colspan="1"><a class="btn btn-success" href="/carteiras/editar/{{ carteira.id}}">Editar</a></td>
							</tr>
						{% else %}
							<tr>
								<td class="text-center" colspan="4">Nenhum registro encontrado</td>
							</tr>
						{% endfor %}
					</tbody>
				</tr>
			</tbody>
		</table>
	</div>
</div></div>{% endblock %}
