<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="57x57" href="Assets/images/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="Assets/images/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="Assets/images/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="Assets/images/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="Assets/images/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="Assets/images/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="Assets/images/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="Assets/images/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="Assets/images/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="Assets/images/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="Assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="Assets/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="Assets/images/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<title>Cade meu Dinheiro?</title>
		<!-- CSS only -->

		<link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
		<!-- JavaScript Bundle with Popper -->
		<style>
			.btn-block {
				display: block;
			}
		</style>
	</head>
	<body>
		{% include 'widgets/header.twig' %}

		{% block content %}{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	</body>
</html>
